#fila1{
    color: teal;
}
#fila2{
    color: red;
}
#fila3{
    color:blue;
}
#fila4{
    color:orange;
}
#fila5{
    color:purple;
}
#fila6{
    color:olive;
}
#fila6{
    color: fuchsia;
}
#fila6{
    color:green;
}

td+td{
    background-color: green;
}
td+td+td{
    background-color: palevioletred;
}